{erl_opts,
    [
        debug_info,
        {d, 'DEBUG'},
%%        warnings_as_errors,
        {parse_transform, lager_transform},
        {i, "./_build/default/plugins/gpb/include"},

        %% 增加这个encrypt_debug_info的主要原因是因为我们编译的代码必须要带有debug_info,不然appup插件会报错
        %% 但是同时增加了debug_info之后编译出来的beam文件是可以被反编译的,所以需要增加保护,另外增加了这个只是保护了当前这个app,
        %% 但是依赖的其他app并不会有保护
        encrypt_debug_info      %%
    ]
}.

{deps, [
    {lager, "3.8.0"},
    {ranch, "1.7.1"},
    {cowboy, "2.7.0"},
    {recon, "2.5.0"},
    {mysqlpool, {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {tag, "0.1.12"}}},
    {lz4, {git, "https://github.com/binbinjnu/erlang-lz4.git", {branch, "master"}}},
    {erlcron, {git, "https://github.com/binbinjnu/erlcron.git", {branch, "master"}}}

]}.

%% protobuf gpb 插件
{plugins, [
    {rebar3_gpb_plugin, "2.12.5"},
%%    {rebar3_appup_plugin, "2.2.1"},     %% 应用发布升级插件
%%    {rebar3_reloader, "0.1.0"},
    {rebar3_run, "0.2.0"}
]}.

{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src/net/proto"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
%%        {tar, {appup, tar}}
    ]}
%%    {post, [
%%        {compile, {appup, compile}},
%%        {clean, {appup, clean}}
%%    ]}
]}.

{shell, [
    {config, "./config/dev.config"},
    {apps, [asiastar]}
]}.

%% rebar3 shell 的cookie和节点名
{dist_node, [
    {setcookie, 'asiastar_cookie'},
    {name, 'asiastar_1@192.168.11.116'}
]}.

{relx, [
    {release, {asiastar,
        "0.1.2" %% release_vsn
    }, [asiastar]}, %% 需要把版本号跟注释单独出一行, 脚本会通过这个标记找到版本号
    %{sys_config_src, "./config/prod.config.src"},
    %{vm_args_src, "./config/vm.args.src"},
    {sys_config, "./config/prod.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, false},   %% 正式的需要设置成false
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
]}.

%%%% shell窗口显示错误去除文件名的路径部分,只保留文件名
%%{overrides, [
%%    {add, [
%%        {deps, [sf_transform]},
%%        {erl_opts, [{sf_type, basename}, {parse_transform, sf_transform}]}
%%    ]},
%%    {del, [
%%        {deps, [sf_transform]},
%%        {erl_opts, [{sf_type, basename}, {parse_transform, sf_transform}]}
%%    ]}
%%]}.

%% test conflict1234
